.checkbox {
    display: none;
}

.spanClassName {
    padding-left: 20px;
}

.spanClassName:before {
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;

    vertical-align: middle;
    margin: 0 10px;
    transition: 0.2s;

    background-image: url("https://img.icons8.com/ios/20/000000/ok--v3.png");
}
.checkbox:checked + .spanClassName:before {
    background-image: url("https://img.icons8.com/ios/20/000000/ok--v1.png");
}

